[submodule "game/libs"]
	path = game/libs
	url = git@github.com:mikefreno/FlexLove.git
	branch = main
[submodule "FlexLove"]
	path = FlexLove
	url = https://github.com/mikefreno/FlexLove.git
	branch = main
